# env
.env
.env.*
!.env.example

# node
node_modules/
**/node_modules/

# build
dist/
build/
**/dist/
**/build/

# logs
logs
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/

# prisma
**/prisma/migrations/*
!**/prisma/migrations/.keep

# yarn (v3/v4)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.yarn/install-state.gz
.pnp.*